<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447005498771-hdi0kfnjgi5ugiumfepo1raualde7fq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447005498771-hdi0kfnjgi5ugiumfepo1raualde7fq0</string>
	<key>API_KEY</key>
	<string>AIzaSyDMabo7v4bLH_7-dch5dgPHcgEJUxYy1Ak</string>
	<key>GCM_SENDER_ID</key>
	<string>447005498771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shrey.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-8a1b7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-8a1b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447005498771:ios:a686f54b3853864c10dc66</string>
	<key>DATABASE_URL</key>
	<string>https://instagram-8a1b7.firebaseio.com</string>
</dict>
</plist>